{% extends 'Mecanico/base.html' %}


{% block contenido %}

{% load static %}


<!-- Inicio Cuerpo Pagina -->

<div class="CuerpoPagina">

    <div class="container">
    <p> </p>
    <p class="h5">Licencia</p>
        <p>
            Todo el contenido de este sitio web, incluyendo pero no limitado a texto, gráficos, logotipos, imágenes, videos, audio, compilaciones de datos, códigos, software y cualquier otra información (en adelante, "Contenido") es propiedad de RayoMakWeen o de sus proveedores de contenido y está protegido por las leyes de derechos de autor y otras leyes de propiedad intelectual aplicables.
        </p>
        <p>
            El Contenido de este sitio web se proporciona bajo licencia para su uso personal y no comercial solamente. Queda estrictamente prohibido cualquier uso comercial del Contenido sin la autorización previa y por escrito de RayoMakWeen. Además, se prohíbe la reproducción, distribución, exhibición pública, exhibición, venta, arrendamiento, transferencia, adaptación, traducción, modificación, descompilación, ingeniería inversa, creación de obras derivadas o cualquier otra forma de explotación del Contenido sin el consentimiento previo y por escrito de RayoMakWeen.
        </p>
        <p>
            El usuario reconoce y acepta que RayoMakWeen tiene el derecho de suspender, interrumpir, modificar, agregar o eliminar cualquier parte del Contenido o el acceso al mismo en cualquier momento y sin previo aviso. Además, el usuario acepta que RayoMakWeen no será responsable de ninguna modificación, suspensión o interrupción del Contenido o del acceso al mismo.
            
        </p>
        <p>
            Si el usuario incumple alguna de las disposiciones de esta Licencia, su derecho a usar el Contenido se terminará automáticamente y deberá destruir inmediatamente cualquier copia del Contenido que tenga en su poder.
        </p>
        <p>
            Esta Licencia se rige por las leyes de Chile, sin referencia a sus disposiciones de conflictos de leyes. Cualquier disputa que surja en relación con esta Licencia será sometida a la jurisdicción exclusiva de los tribunales de Santiago.
        </p>
        
    </div>

</div>

<!-- Termino Cuero Pagina -->



{% endblock %}