{% extends 'Mecanico/base.html' %}


{% block contenido %}

{% load static %}


<!-- Inicio Cuerpo Pagina -->

<div class="CuerpoPagina">

    <div class="container">
        <p> </p>
        <p class="h5">Política de Privacidad</p>
        <p>
            En nuestra empresa nos tomamos muy en serio la privacidad de nuestros clientes y usuarios. Esta política de privacidad describe qué información personal recopilamos y cómo la utilizamos.
        </p>
        <p class="h5">Recopilación de Información Personal</p>
        <p>
            Podemos recopilar información personal cuando los usuarios visitan nuestro sitio web, se registran en nuestro sitio, realizan una compra, responden a una encuesta o llenan un formulario. La información que podemos recopilar incluye su nombre, dirección de correo electrónico, número de teléfono y dirección postal.
        </p>
        <p class="h5">Uso de la Información Personal</p>
        <p>
            La información personal que recopilamos se utiliza para mejorar la experiencia del usuario en nuestro sitio web, procesar pagos y enviar correos electrónicos periódicos sobre nuestras promociones y servicios. También podemos utilizar la información para fines internos de análisis y mejora de nuestro sitio web.
        </p>
        <p class="h5">Protección de la Información Personal</p>
        <p>
            Implementamos medidas de seguridad para proteger la información personal de nuestros usuarios. Utilizamos un certificado SSL para cifrar la información sensible transmitida entre el usuario y el servidor. Además, mantenemos medidas de seguridad físicas y electrónicas para proteger la información almacenada en nuestros servidores.
        </p>
        <p class="h5">Divulgación a Terceros</p>
        <p>
            No vendemos, comerciamos ni transferimos a terceros información personal identificable. Sin embargo, podemos compartir información con terceros de confianza que nos ayudan a operar nuestro sitio web y brindar servicios a nuestros usuarios, siempre y cuando estos terceros acepten mantener la información confidencial.
        </p>
        <p class="h5">Cookies</p>
        <p>
            Utilizamos cookies para mejorar la experiencia del usuario en nuestro sitio web. Las cookies son pequeños archivos de datos que se almacenan en su dispositivo cuando visita nuestro sitio web. Las cookies nos permiten recordar sus preferencias y brindarle una experiencia personalizada en nuestro sitio web. También podemos utilizar cookies de terceros para recopilar información sobre cómo los usuarios utilizan nuestro sitio web.
        </p>
        <p class="h5">Cambios en la Política de Privacidad</p>
        <p>
            Podemos actualizar esta política de privacidad en cualquier momento. Se publicará la versión actualizada en nuestro sitio web y se actualizará la fecha de la "última actualización" en la parte superior de esta página.
        </p>
        <p class="h5">Aceptación de los Términos</p>
        <p>
            Al utilizar nuestro sitio web, acepta los términos de esta política de privacidad. Si no está de acuerdo con esta política de privacidad, no utilice nuestro sitio web.
        </p>
        <p class="h4">
            Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, no dude en contactarnos.
        </p>

    </div>
    
</div>

<!-- Termino Cuero Pagina -->



{% endblock %}