{% extends 'Mecanico/base.html' %}


{% block contenido %}

{% load static %}


<!-- Inicio Cuerpo Pagina -->

<div class="CuerpoPagina">
        
    <div class="container">
        <p> </p>
        <p class="h5">Términos y Condiciones</p>
        <p>
            Bienvenido a nuestro sitio web. Al acceder o utilizar nuestro sitio web, aceptas estar sujeto a los siguientes términos y condiciones de uso, que junto con nuestra política de privacidad rigen nuestra relación con usted en relación con este sitio web.
            El término "nosotros" se refiere al propietario del sitio web cuya información de contacto se proporciona en la sección de contacto de este sitio web. El término "usted" se refiere al usuario o visitante de nuestro sitio web.
        </p>
        <p class="h5">Uso del sitio web</p>
        <p class="h6">El uso de este sitio web está sujeto a los siguientes términos de uso:</p>
        <li>
            El contenido de las páginas de este sitio web es solo para su información general y uso. Está sujeto a cambios sin previo aviso.
            Ni nosotros ni ningún tercero proporcionamos ninguna garantía o garantía en cuanto a la exactitud, puntualidad, rendimiento, integridad o idoneidad de la información y los materiales encontrados u ofrecidos en este sitio web para cualquier propósito en particular. Usted reconoce que dicha información y materiales pueden contener inexactitudes o errores y excluimos expresamente la responsabilidad por cualquier inexactitud o error en la máxima medida permitida por la ley.
        </li>
        <p></p>
        <li>
            El uso de cualquier información o material en este sitio web es bajo su propio riesgo, por lo que no seremos responsables. Será su propia responsabilidad asegurarse de que cualquier producto, servicio o información disponible a través de este sitio web cumpla con sus requisitos específicos.
        </li>
        <p></p>
        <li>
            Este sitio web contiene material que es propiedad nuestra o que se nos ha concedido una licencia. Este material incluye, pero no se limita a, el diseño, la apariencia, los gráficos y otros contenidos. La reproducción está prohibida excepto en conformidad con el aviso de copyright, que forma parte de estos términos y condiciones.
        </li>
        <p></p>
        <li>

            Todas las marcas reproducidas en este sitio web que no son propiedad del operador o que no son concesionarias en el sitio web, son reconocidas en el sitio web.
        </li>
        <p></p>
        <li>
            
            El uso no autorizado de este sitio web puede dar lugar a una reclamación por daños y perjuicios y / o constituir un delito.
        </li>
        <p></p>
        <li>

            De vez en cuando, este sitio web también puede incluir enlaces a otros sitios web. Estos enlaces se proporcionan para su conveniencia para proporcionar más información. No significa que respaldemos el sitio web (s). No tenemos responsabilidad por el contenido del sitio web (s) vinculado (s).
        </li>
        <p> </p>
        <p class="h5">Cambios en los términos y condiciones</p>
        <p>

            Nos reservamos el derecho de cambiar estos términos y condiciones en cualquier momento sin previo aviso. Cualquier cambio será efectivo inmediatamente después de que se publique la revisión en nuestro sitio web. Es su responsabilidad revisar regularmente estos términos y condiciones para asegurarse de que está de acuerdo con cualquier cambio.
        </p>
        <p class="h5">Ley y Jurisdicción</p>
        <p>
            El uso de este sitio web y cualquier disputa que surja del uso del sitio web está sujeto a las leyes de Chile
        </p>
        
    </div>

</div>

<!-- Termino Cuero Pagina -->



{% endblock %}