{% extends 'Mecanico/base.html' %}


{% load static %}

{% block contenido %}

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Iterar sobre las atenciones del usuario logeado -->
        {% for atencion in atenciones %}
            {% if atencion.user == user %}
                <div class="col">
                    <div class="card text-center">
                        <img class="card-img-top" src="{{ atencion.Fotos_Atencion.url }}" height="300px" width="300px" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">{{ atencion.user }}</h6>
                            <p class="card-text">Trabajo del {{ atencion.Fecha_Atencion }}</p>
                            <!-- Botón de Detalles -->
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ atencion.id }}" data-bs-whatever="luigi@rayomakween.cl">Detalles</button>
                            <!-- Modal de Detalles -->
                            <div class="modal fade" id="exampleModal{{ atencion.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle del Trabajo</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="card-img-top" src="{{ atencion.Fotos_Atencion.url }}" alt="imagen trabajo">
                                            <div>
                                                <h6 for="descripcionTrabajo">Descripción del Trabajo:</h6>
                                                <textarea class="form-control" id="descripcionTrabajo" name="descripcionTrabajo" rows="5" readonly>{{ atencion.Diagnostico_Atencion }}</textarea>
                                            </div>
                                            <div>
                                                <h6 for="estadoTrabajo">Estado del Trabajo:</h6>
                                                <input class="form-control" id="estadoTrabajo" name="estadoTrabajo" readonly rows="1" value="{{ atencion.EstadoTrabajo }}" style="text-align: center; margin: 0 auto;">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin del Modal de Detalles -->
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">{{ atencion.user.username }}</small>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}

